<% var data = {
  title: "GrandCore | Сброс пароля"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-login-passreset page-auth">
  <div class="page-auth__content">
    <div class="page-auth-selector">
      <a href='auth-login.html' class="page-auth-selector__item">
        Вход
      </a>

      <a href='auth-reg.html' class="page-auth-selector__item">
        Регистрация
      </a>
    </div>

    <form method="POST" class="page-auth__auth-form">
      <h3 class="text-center">Восстановление пароля</h3>

      <div class="input-field">
        <input class="input" type="email" name="email" placeholder="Введите Email" required>
        <span class="input__error"></span>
      </div>

      <input type="submit" class="btn btn--green btn--big btn--width" value="Войти">

      <div class="page-auth__error">
        <!-- Неправельный логин или пароль -->
      </div>
    </form>
  </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
