<% var data = {
    title: "GrandCore | Страница"
  }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>
  
  <div class="page-page-project-new">
    <section class="page-project-new page-container page-project-new-section page-project-new-section">
        <div class="page-project-new-section-sgrid">
            <div class="page-project-new-section-sgrid-firstcol">
                <h2 class="page-project-new-section-sgrid-firstcol__subtitle">Предложить проект</h2>
                <p class="page-project-new-section-sgrid-firstcol__text">Происхождение Александра Сергеевича Пушкина идёт от разветвлённого нетитулованного дворянского рода Пушкиных, восходившего по генеалогической легенде к «мужу честну» Ратше[5][~ 3]. Пушкин неоднократно писал о своей родословной в стихах и прозе; он видел в своих предках образец истинной «аристократии», древнего рода, честно служившего отечеству, но не снискавшего благосклонности правителей и «гонимого». Не раз он обращался (в том числе в художественной форме) и к образу своего прадеда по матери — африканца Абрама Петровича Ганнибала, </p>
            </div>
            <div class="page-project-new-section-sgrid-secondcol">
                <div class="page-project-new-section-sgrid-secondcol-sfield">
                    <div class="page-project-new-section-sgrid-secondcol-sfield-email">
                        <div class="page-project-new-section-sgrid-secondcol-sfield-email-field">
                          <input class="page-project-new-section-sgrid-secondcol-sfield-email-field-input" placeholder="Email"></input>
                        </div>
                    </div>
                    <div class="page-project-new-section-sgrid-secondcol-sfield-telegram">
                        <div class="page-project-new-section-sgrid-secondcol-sfield-telegram-field">
                          <input class="page-project-new-section-sgrid-secondcol-sfield-telegram-field-input" placeholder="Telegram link"></input>
                        </div>
                    </div>
                </div>
                <div class="page-project-new-section-sgrid-secondcol-text">
                    <div class="page-project-new-section-sgrid-secondcol-text-field">
                      <textarea class="page-project-new-section-sgrid-secondcol-text-field-input" placeholder="Ваше предложение"></textarea>
                    </div>
                </div>
                <a class="btn btn--big btn--green" style="width: 200px; margin-top: 1rem;">Сохранить</a>
            </div>
        </div>
    </section>
  </div>
  
  <%= _.template(require('./../includes/footer.html').default)(data) %>
  