<% var data = {
  title: "GrandCore | Страница"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-user-edit">
  <div class="page-user">
  <div class="page-user-container">
    <!-- profile block -->
    <div class="page-user-profile page-user-profile_bottom">
      <!-- photo -->
      <div class="page-user-profile__img"></div>
      <!-- info -->
      <div class="page-user-profile__user-wrap">
        <!-- skills and name -->
        <h2 class="page-user-profile__title">
          Богдан Соколов
        </h2>
        <p class="page-user-profile__skills">
          PHP, JavaScript, Docker, Ruby, Figma, Photoshop
          Docker, Ruby, Figma, Photoshop, Laravel
        </p>
        <!-- status -->
        <div class="page-user-status">
          <a href="#" class="page-user-status__rank page-user-status_bottom">
            <img src="../../img/page-user/icon.png" alt="" class="page-user-status__rank-icon">
            Основатель
          </a>
          <p class="page-user-status__rating page-user-status_bottom">
            Рейтинг: 223
          </p>
        </div>
        <!-- btn -->
        <div class="page-user-btn">
          <button class="page-user-btn__edit">
            Edit Profile
          </button>
          <a href="#" class="page-user-btn__message">
            <img src="..//../img/page-user/telegram.svg" alt="" class="page-user-btn__message_telegram">
            Send a message
          </a>
        </div>
      </div>
    </div>
    <!-- Projects  -->
    <div class="page-user-projects ">
      <!-- menu -->
      <ul class="page-user-projects-menu">
        <!-- Projects Founded -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link">
            Projects Founded 2
          </a>
        </li>
        <!-- Projects Supported -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link">
            Projects Supported 23
          </a>
        </li>
        <!-- Projects Liked -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link">
            Projects Liked 608
          </a>
        </li>

        <!-- Edit Profile-->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link page-user-projects-menu__link_active">
            Edit Profile
          </a>
        </li>
      </ul>
      <form class="page-user-edit-form">
        <div class="page-user-edit-form_block">
          <input type="text" placeholder="Имя" class="page-user-edit-form_block_input page-user-edit-form_block_input-margin-right">
          <input type="text" placeholder="Telegram" class="page-user-edit-form_block_input">
        </div>
        <div class="page-user-edit-form_block">
          <input type="text" placeholder="E-Mail" class="page-user-edit-form_block_input page-user-edit-form_block_input-margin-right">
            <button class="page-user-edit-form_block_button">
            </button>
          <input type="text" placeholder="Загрузить изображение" class="page-user-edit-form_block_input">
        </div>
        <div class="page-user-edit-form_block2">
          <input type="text" placeholder="Скиллы" class="page-user-edit-form_block2_input page-user-edit-form_block2_input1">
          <input type="text" placeholder="Обо мне" class="page-user-edit-form_block2_input page-user-edit-form_block2_input2">
        </div>
        <button class="page-user-edit-form_button">
          Сохранить
        </button>
      </form>
    </div>
  </div>
</div>
</div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>